<app-navbar></app-navbar>

<app-header-inicio></app-header-inicio>

<section class="page-section portfolio" id="portfolio" style="background: #CAC6C5" >
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Acerca de Mi</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6 ms-auto" style="padding: 0 15%; text-align: justify">
        <h3>
          Soy una persona humilde, respetuosa, con ganas de apoyar siempre a los demás, si tengo la
          oportunidad. Soy muy enfocado en todo lo que hago, siempre me gusta estar en constante
          aprendizaje.
        </h3>
      </div>

      <div style="margin-bottom: 30px"></div>

      <div class="col-md-6 col-lg-6 ms-auto" style="width: 50%">
        <h1 style="margin: 0 1rem; padding: 0 1rem; text-align: center; font-family: Inter; font-size: 46px; font-weight: 600">
          Misión
        </h1>
        <p class="lead" style="text-align: justify; padding: 0 10%">
          Soy una persona muy enfocada en todo lo que hace, buscando adquirir todo lo necesario para ser
          una mejor persona.
        </p>
      </div>

      <div class="col-md-6 col-lg-6 ms-auto" style="width: 50%">
        <h4 style="margin: 0 1rem; padding: 0 1rem; text-align: center; font-family: Inter; font-size: 46px; font-weight: 600">
          Visión
        </h4>
        <p class="lead" style="text-align: justify; ">
          Ser una persona con buenos valores y hábitos tanto en el ámbito familiar, como laboral,
          ser un buen ejemplo para todas las personas que están en mi alrededor.
        </p>
      </div>
    </div>
  </div>
</section>

<!--<section class="page-section bg-primary text-white mb-0" id="about">-->
<!--  <div class="container">-->
<!--    &lt;!&ndash; About Section Heading&ndash;&gt;-->
<!--    <h2 class="page-section-heading text-center text-uppercase text-white">Introducción</h2>-->
<!--    &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--    <div class="divider-custom divider-light">-->
<!--      <div class="divider-custom-line"></div>-->
<!--      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--      <div class="divider-custom-line"></div>-->
<!--    </div>-->
<!--    &lt;!&ndash; About Section Content&ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="col-lg-4 ms-auto">-->
<!--        <p class="lead">-->
<!--          Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the-->
<!--          complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets-->
<!--          for easy customization.-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-lg-4 me-auto">-->
<!--        <p class="lead">-->
<!--          You can create your own custom avatar for the masthead, change the icon in the dividers,-->
<!--          and add your email address to the contact form to make it fully functional!-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; About Section Button&ndash;&gt;-->
<!--    <div class="text-center mt-4">-->
<!--      <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">-->
<!--        <i class="fas fa-download me-2"></i>-->
<!--        Free Download!-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
