<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de Integridad </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Pregunta</div>
      <div class="col col-3" style="font-weight: 600">Respuesta</div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 25px">
          Después de discutir, en grupos pequeños, responde las siguientes preguntas:
        </p>
        <p style="padding-right: 20px">
          a) ¿Contribuyen tus palabras y acciones a la integridad personal y colectiva?
        </p>
        <p>
          b) ¿Cómo podrían, tus palabras y acciones, reflejar honradez.
        </p>
        <p style="padding-right: 20px">
          c) En la escala de 1 a 10 (siendo 1 el valor más bajo), ¿qué tan honestas son las palabras y
          acciones del grupo? Anoten el promedio.
        </p>
        <p style="padding-right: 20px">
          d) ¿Cuáles serían 3 maneras en que tus palabras y acciones reflejarían humildad?
        </p>
        <p style="padding-right: 25px; padding-top: 20px">
          e) ¿Cómo puedes mostrar sensatez, al participar en una discusión?
        </p>
        <p>
          f) ¿Cómo describirías una sociedad donde todos fueran honestos, honrados, humildes, sensatos e
          integros?
        </p>
        <p>
          g) ¿En qué proporción, los miembros de tu grupo se han negado, en alguna oportunidad, a reconocer
          su falta de humildad, honestidad, honradez, sensatez e integridad?
        </p>
        <p>
          h) ¿Qué tendrías que hacer para vivir en integridad?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p style="margin-top: 60px">
          a) Si, hay momentos que como todo ser humano también cometo errores.
        </p>
        <p>
          b) Demostrando con hechos en cada actividad que realice ya sea en el ámbito laboral o personal.
        </p>
        <p style="margin-top: 30px">
          c) Diría que es de 8.
        </p>
        <p style="margin-top: 40px">
          d) 1) Ayudar sin pedir nada a cambio.
             2) Aceptar mis habilidades y de lo que soy capaz.
             3) Aceptar reconocimiento cuando me lo merezco.
        </p>
        <p>
          e) Notar y aceptar si cometi un error, y tolerar las opiniones y puntos de vista de los
          participantes.
        </p>
        <p>
          f) Sería como una sociedad perfecta y eso la hace ficticia porque en la sociedad siempre estará el
          libre albedrío.
        </p>
        <p>
          g) Regularmente se tienen problemas con esos aspectos, pero esto es muy frecuente en los grupos ya
          que hay variedad de principios y opiniones.
        </p>
        <p>
          h) Tendría que optar por integrar a mi vida aspectos como: valores, sentimientos y actitudes.
        </p>
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">2</div>
      <div class="col col-2" data-label="Pregunta">
        <p>
          Lee los cuatro subtemas del Principio de Integridad y extrae las frases que consideres más importante;
          luego explica cómo se interrelacionan con el tema en general.
        </p>

        <p>
          1) Ideas principales:
        </p>

        <p>
          2) Explicación:
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          1) Los pensamientos de los justos son rectitud sin embargo los consejos de los impíos son:
          engaño y cambiar la calidad de una persona que es honrada.
        </p>
        <p>
          2) Dichos 4 subtemas de interacción ya que de un valor se despliega otro ejemplificando;
          solemos relacionar la honestidad con la honradez ya que en ambas se aplica la sinceridad y
          asi pasa con los demás subtemas.
        </p>
      </div>
    </li>

  </ul>
</div>
