<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de Motivar a las Personas </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Pregunta</div>
      <div class="col col-3" style="font-weight: 600">Respuesta</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Pregunta">Investigue 2 definiciones sobre Motivación (que no estén incluidas en este texto) y construye tu propia definición</div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          1) Es una actitud continuada en el tiempo con el objetivo de satisfacer una necesidad u objetivo.
        </p>
        <p>
          2) Es resultado de la combinación de los vocablos latinos motus (traducido como “movido”) y
          motio (que significa “movimiento”).
        </p>
        Definición propia: Creo que la motivación es una parte fundamental para cada uno, porque si
        tenemos un objetivo que anhelamos estaremos motivados para lograr conseguirlo.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">2</div>
      <div class="col col-2" data-label="Pregunta">
        Identifica y escribe las características de una persona motivada
      </div>
      <div class="col col-3" data-label="Respuesta">
        1) Son Hulmides.
        2) Siempre están enfocados en sus objetivos.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">3</div>
      <div class="col col-2" data-label="Pregunta">
        <p>
          Entrevista a una persona que posea las caracteristicas indicadas en el numeral anterior.
        </p>
        <p>
          1) Nombre y actividad que realiza el entrevistado.
        </p>
        <p>
          2) ¿Qué admiras de esa persona?
        </p>
        <p>
          3) ¿Qué logros ha obtenido esa persona, mediante la práctica del principio de motivación?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p style="margin-top: 10%">
          1) Manuel Mendez, Desarrollador Full-Stack.
        </p>
        <p>
          2) Es una persona muy enfocada en todo lo que hace, y siempre esta dispuesto a ayudar a los demás,
          resolviendoles sus dudas y dandoles la posible solución.
        </p>
        <p>
          3) Logro trabajar para grandes empresas internacionales.
        </p>
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">4</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Qué catacterísticas de las que posee la persona entrevistada consideras que debes practicar para
        estar motivado y motivar a otros?
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          1) Confianza en uno mismo.
        </p>
        <p>
          2) Estar más enfocado en lo que hago todos los días.
        </p>
        <p>
          3) Dar lo mejor de mi para lograr mis metas.
        </p>
      </div>
    </li>
  </ul>
</div>
