<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de Confiar en Dios </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Pregunta</div>
      <div class="col col-3" style="font-weight: 600">Respuesta</div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Pregunta">
        Confianza:
      </div>
      <div class="col col-3" data-label="Respuesta">
        En el campo gremial y académico practico la confianza con mis compañeros puesto que una vez que se
        nos da un plan debemos laborar en grupo y debemos conservar la confianza el uno del otro sin dudar
        de nadie.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">2</div>
      <div class="col col-2" data-label="Pregunta">
        Manera(s) en que practicas la confianza en Dios.
      </div>
      <div class="col col-3" data-label="Respuesta">
        Le pido mucho que cuide a toda mi familia, intento poner mis penas hablando con Él, cuando logro
        algunos de objetivos, le pido para que nunca pierda mi humildad con las demás personas.

      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">3</div>
      <div class="col col-2" data-label="Pregunta">
        Dirección:
      </div>
      <div class="col col-3" data-label="Respuesta">
        Se nos inculca a considerar tomar una decisión, pero estas no continuamente acostumbran ser
        buenas opciones, debo examinar detenidamente antes de optar por una, y una vez que se nubla mi
        mente pido consejos a mi mamá y mi papá.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">4</div>
      <div class="col col-2" data-label="Pregunta">
        Manera(s) en que sigues la dirección de Dios.
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          1) No tengo ningún tipo de vicios.
        </p>
        <p>
          2) No juntarme con malas amistades.
        </p>
        <p>
          3) y siempre que tengo la posibilidad de ayudar al prójimo, le ayudo.
        </p>
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">5</div>
      <div class="col col-2" data-label="Pregunta">
        Sabiduria:
      </div>
      <div class="col col-3" data-label="Respuesta">
        Me acerco a personas que son más grandes que yo, tomando como ejemplo a mis padres, ellos
        conocen bastante de la vida, situaciones y ellos mejor que nadie tienen la posibilidad de
        orientarme cuando lo necesito.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">6</div>
      <div class="col col-2" data-label="Pregunta">
        Anota un ejemplo de cómo has manifestado la sabiduria adquidia:
      </div>
      <div class="col col-3" data-label="Respuesta">
        Me he acercado más a Dios y he tratado de orientar a personas de mi alrededor a hacer lo correcto.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">7</div>
      <div class="col col-2" data-label="Pregunta">
        Obediencia:
      </div>
      <div class="col col-3" data-label="Respuesta">
        En este punto no hay complejidad, mis padres me brindaron el valor del respeto y la obediencia,
        suelo adaptarme facilmente a una situación en la que se de una orden.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">8</div>
      <div class="col col-2" data-label="Pregunta">
        Manera(s) en que practicas la obediencia:
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          Obedezco a mis superiores en el trabajo.
        </p>
        <p>
          Obedezco a mis padres.
        </p>
      </div>
    </li>

  </ul>
</div>
