<app-navbar></app-navbar>


<app-header-resultado></app-header-resultado>

<div style="margin-bottom: 5%"></div>

<div class="container" >
  <h2> MATRIZ DE ANÁLISIS DE RESULTADOS No. 1</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">
        Ámbito más débil
      </div>
      <div class="col col-2">
        Calificación
      </div>
      <div class="col col-3">
        Principio más débil
      </div>
      <div class="col col-4">
        <p style="padding-right: 25px">
          Escribo mis Debilidades con relación al principio identificado como el más débil
        </p>
      </div>
      <div class="col col-4">
        Escribo las Estrategias para mejorar en la aplicación de dicho principio
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Ámbito más débil">
        Espiritual
      </div>
      <div class="col col-2" data-label="Calificación">
        70
      </div>
      <div class="col col-3" data-label="Principio más débil">
        Comunicación
      </div>
      <div class="col col-4" data-label="Escribo mis Debilidades con relación al principio identificado como el más débil">
        <p style="padding-right: 25px">
          Desde hace mucho tiempo no he tenido comunicación con Dios
        </p>
      </div>
      <div class="col col-4" data-label="Escribo las Estrategias para mejorar en la aplicación de dicho principio">
        <p style="padding-right: 20px">
          Debo de buscar más a Dios, no solo lo debo buscar en malos momentos, sino para todo.
        </p>
      </div>
    </li>
  </ul>
</div>

<div style="margin-bottom: 5%"></div>

<div class="container" >
  <h2> MATRIZ DE ANÁLISIS DE RESULTADOS No. 2</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">
        Ámbito más débil
      </div>
      <div class="col col-2">
        Calificación inicial
      </div>
      <div class="col col-3">
        Principio más débil
      </div>
      <div class="col col-4">
        <p style="padding-right: 25px">
          Escribo mis Debilidades con relación al principio identificado como el más débil
        </p>
      </div>
      <div class="col col-4">
        Escribo las Estrategias para mejorar en la aplicación de dicho principio
      </div>
      <div class="col col-4">
        Calificación final
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Ámbito más débil">
        Espiritual
      </div>
      <div class="col col-2" data-label="Calificación inicial">
        76
      </div>
      <div class="col col-3" data-label="Principio más débil">
        Comunicación
      </div>
      <div class="col col-4" data-label="Escribo mis Debilidades con relación al principio identificado como el más débil">
        <p style="padding-right: 25px">
          Desde hace mucho tiempo no he tenido mucha comunicación con Dios
        </p>
      </div>
      <div class="col col-4" data-label="Escribo las Estrategias para mejorar en la aplicación de dicho principio">
        <p style="padding-right: 20px">
          Debo de buscar más a Dios, no solo lo debo buscar en malos momentos, sino para todo.
        </p>
      </div>
      <div class="col col-4" data-label="Calificación final">
        <p style="padding-right: 20px">
          50
        </p>
      </div>
    </li>
  </ul>
</div>
