<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de la Perdón </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Pregunta</div>
      <div class="col col-3" style="font-weight: 600">Respuesta</div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 20px">
          Escribe las iniciales de una persona con quien hayas tenido conflicto:
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        JM.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">2</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 25px">
          Subraya los sentimientos que experimentaste, debido a ese conflicto.
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          1) Amargura.
        </p>
        <p>
          2) Desconfianza.
        </p>
        <p>
          3) Enojo.
        </p>
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">3</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Cómo afectó ese sentimiento tu relación con esa persona?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Provoco que le dejara de hablar, y lo dejara de reconocer como un amigo.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">4</div>
      <div class="col col-2" data-label="Pregunta">
        ¿El orgullo o la acusación te impiden perdona a ese persona?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Sí
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">5</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Por qué?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Porque lo que esa persona hizo, es difícil de perdonar.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">6</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 20px">
          Haz una lista de las actitudes, sentimientos o pensamientos que debes eliminar de tu vida
          (esto incluye perdonarte a ti mismo; ¡Nunca es tarde para pedir perdón!)
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          1) Amargura.
        </p>
        <p>
          2) Desconfianza.
        </p>
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">7</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Cómo te sentiste cuando alguien te pidió perdón?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Me sentí muy renconfortado, porque no quisiera perder amistad con esa persona.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">8</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 20px">
          ¿Reconoces que, alguna vez, has herido los sentimientos de otra persona?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        Sí.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">9</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Por qué?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Porque en ese momento me deje llevar por lo que decian de esa persona, y debido a eso yo
        herí sus sentimientos.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">10</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Interfiere, el sentimiento de culpabilidad, en tus relaciones?
      </div>
      <div class="col col-3" data-label="Respuesta">
        No.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">11</div>
      <div class="col col-2" data-label="Pregunta">
        Escribe cuatro razones que podrías darla a alguien que esté dudando en pedir perdón:
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          1) Paz interior.
        </p>
        <p>
          2) Libertad.
        </p>
        <p>
          3) Relajación profunda.
        </p>
        <p>
          4) Vida plena.
        </p>
      </div>
    </li>
  </ul>
</div>
