<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de Empoderamiento </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Pregunta</div>
      <div class="col col-3" style="font-weight: 600">Respuesta</div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Pregunta">
        Divide el triángulo que aparece a continuación, en tantas partes como sea necesario y anota en orden
        jerárquico los nombres de las personas o grupos a quienes debes obediencia.
      </div>
      <div class="col col-3" data-label="Respuesta">
        <div class="triangulo">
          <p class="nombres">
            * Mis padres
          </p>
          <p class="nombres2">
            * Dios
          </p>
        </div>
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Pregunta">
        <p>
          Responde las siguientes preguntas:
        </p>
        <p>
          1) ¿Quién tiene menos autoridad sobre ti?
        </p>
        <p>
          2) ¿Quién tiene mayor autoridad sobre ti?
        </p>
        <p>
          3) ¿Alguna de las personas o grupos indicados en el triángulo delegan autoridad? ¿Cuál ha sido
          el resultado?
        </p>
        <p>
          4) ¿Te parecen claras las directrices dadas por quienes ejercen autoridad sobre ti?
        </p>
        <p>
          5) ¿Sigues con convicción las órdenes emanadas de tus autoridades? Expica tu respuesta.
        </p>
        <p>
          6) ¿Cumples con agrado lo que se te pide o exige? ¿Por qué?
        </p>
        <p style="padding-right: 20px">
          7) Quienes ejercen autoridad sobre ti, ¿están empoderados de los valores necesarios para promover tu
          desarrollo persona? Explica.
        </p>
        <p>
          8) ¿En qué consiste la autoridad que proviene de abajo?
        </p>
        <p style="padding-right: 20px">
          9) ¿Cómo pueden las personas y grupos generar su propio empoderamiento?
        </p>
        <p>
          10) ¿Qué aprendiste al realizar este ejercicio?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p style="padding-top: 40px">
          1) Las personas que solo quieren el mal para mí.
        </p>
        <p>
          2) En primer lugar Dios y luego mis padres.
        </p>
        <p>
          3) Sí, cuando es necesario.
        </p>
        <p>
          4) Sí, porque cuando cometo algún error estoy dispuesto a escuchar las opiniones que me están
          dando.
        </p>
        <p>
          5) Sí, en mis principios está seguir las ordenes que se han asignado al pie de la letra.
        </p>
        <p>
          6) Creo que ninguno de nosotros somos perfectos, porque hay momentos en los que realizo con
          agrado lo que me ordenan y otras ocasiones no.
        </p>
        <p>
          7) Nadie está totalmente lleno de conocimiento pero las personas que me ayudan tienen los
          conocimientos sobre la vida y ellos me aconsejan a segun su experiencia y lo que creen es
          correcto para mi.
        </p>
        <p>
          8) .....
        </p>
        <p>
          9) Escuchandose a si mismas y dandosé un tiempo para conocer una de sus habilidades y dejar de
          compararse con las demás personas.
        </p>
        <p>
          10) Aprendí a reconocer que a veces necesitamos el punto de vista de una persona que sepa del tema.
        </p>
      </div>
    </li>

  </ul>
</div>
