<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de la Comunicación </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Ítems</div>
      <div class="col col-3" style="font-weight: 600">Sí</div>
      <div class="col col-4" style="font-weight: 600">No</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Ítems">¿Te comunicas de verdad?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">2</div>
      <div class="col col-2" data-label="Ítems">¿Tomas a las personas en serio? (no las ridiculas)</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">3</div>
      <div class="col col-2" data-label="Ítems">¿Respondes las preguntas de tu interlocutor, aunque sean difíciles?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">4</div>
      <div class="col col-2" data-label="Ítems">¿Logras controlarte cuando dicen algo que te incomoda?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">5</div>
      <div class="col col-2" data-label="Ítems">¿Eres sincero?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">6</div>
      <div class="col col-2" data-label="Ítems">¿Eres paciente y compresivo?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">7</div>
      <div class="col col-2" data-label="Ítems">¿Evitas sacar conclusiones precipitadas sobre lo que te dicen?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">8</div>
      <div class="col col-2" data-label="Ítems">¿Evitas hablar mucho de ti mismo?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">9</div>
      <div class="col col-2" data-label="Ítems">¿Evitas interrumpir constantemente a tu interlocutor?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">10</div>
      <div class="col col-2" data-label="Ítems">¿Evitas hablar demasiado?</div>
      <div class="col col-3" data-label="Sí">X</div>
      <div class="col col-4" data-label="No"></div>
    </li>
  </ul>
</div>
