<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de Justicia</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Pregunta</div>
      <div class="col col-3" style="font-weight: 600">Respuesta</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Consideras que es difícil ser imparcial? Explica tu respuesta.
      </div>
      <div class="col col-3" data-label="Respuesta">
        Creo que algunos momentos me es muy difícil ser imparcial.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">2</div>
      <div class="col col-2" data-label="Pregunta">
        En la escala de 1 a 10 (siendo 1 lo más bajo), ¿Cómo te calificas en cuanto a ser equitativo?
      </div>
      <div class="col col-3" data-label="Respuesta">
        9
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">3</div>
      <div class="col col-2" data-label="Pregunta">
        Si necesitaras mejorar en relación con la aplicación de la equidad, ¿Qué acciones concretas te propones realizar?
      </div>
      <div class="col col-3" data-label="Respuesta">
        No dejarme llevar por lo que dicen las demás personas.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">4</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 15px;">
          ¿Qué dirían las otras personas con quienes has interactuado, acerca de la calificación que te
          asignaste? Procura preguntarles y anota sus respuestas en las líneas del inciso correspondientes.
        </p>

        <p>
          a) Tus compañeros de estudio o de trabajo:
        </p>
        <p>
          b) Tus familiares:
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          a) Mis compañeros de trabajo y de estudios, están muy de acuerdo con la calificación asignada.
        </p>
        <p>
          b) Mi familia al igual que mis compañeros están de acuerdo.
        </p>
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">5</div>
      <div class="col col-2" data-label="Pregunta">
        Suponiendo que justificas tu proceder, ¿Convencerían a Dios tus argumentos? Explica tu respuesta.
      </div>
      <div class="col col-3" data-label="Respuesta">
        Creo que esto si no sabría explicar, porque he cometido muchos errores, y no sabría si está de acuerdo o no con
        mis argumentos.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">6</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Consideras que la situación actual de nuestro país tiene que ver con la Ley del Retorno? Explica tu
        respuesta.
      </div>
      <div class="col col-3" data-label="Respuesta">
        Creo que en ciertos aspectos de la vida nuestro país se esta acomodando a la ley de Retorno.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">7</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Alguna vez cometiste una injusticia que se ha vuelto como un boomeran contra ti? Explica tu respuesta.
      </div>
      <div class="col col-3" data-label="Respuesta">
        Creo que no he cometido ninguna injustica y luego haya regresado a mí.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">8</div>
      <div class="col col-2" data-label="Pregunta">
        En la escala de 1 a 10 (siendo 1 lo más bajo), ¿Cómo te calificas en cuanto a ser respuetuoso?
      </div>
      <div class="col col-3" data-label="Respuesta">
        8.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">9</div>
      <div class="col col-2" data-label="Pregunta">
        <p>
          ¿Qué acciones podrías emprender para actuar con respeto, en los siguientes casos?:
        </p>

        <p>
          a) Con tus padres:
        </p>
        <p>
          b) Con tus amigos:
        </p>
        <p>
          c) Con tus compañeros de estudio o de trabajo?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        <p>
          a) Obedecer y siempre mostrarme respetuoso con ellos.
        </p>
        <p>
          b) Ser coordial con ellos, y siempre ofrecerles mi apoyo en todo momento.
        </p>
        <p>
          c) Siempre mostrar respesto con ellos, y apoyarlos cuando se me sea posible.
        </p>
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">10</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 20px">
          Cuando has tenido que justificar tus acciones, ¿podrías afirmar, delante de Dios, que has
          dicho la verdad? Explica tu respuesta.
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        Creo que en algunas ocasiones no he sido sincero, pero al final mi consciencia no me deja estar tranquilo y digo
        la verdad, para poder estar bien conmigo mismo.
      </div>
    </li>
  </ul>
</div>
