<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de la Crítica </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Pregunta</div>
      <div class="col col-3" style="font-weight: 600">Respuesta</div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">1</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 20px">
          Después de haber estudiado el tema, ¿qué entiendes por crítica?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        Crítica es la opinión que se da acerca de algo o de alguién respecto a un tema.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">2</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 20px">
          ¿Qué tipo de crítica se da en tu lugar de trabajo o en algún otro ambiente en que participas?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        Se da la crítica constructiva dentro de diferentes ambientes, más que todo para no desanimar a nadie.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">3</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="padding-right: 25px">
          Considerando tu respuesta a la pregunta anterior, ¿qué estrategias propones para disminuir la
          crítica destructiva o convertirla en constructiva?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        Antes de criticar a alguién debo saber bien por la situación que este mismo este pasando, para darle un
        comentario positivo.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="No.">4</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Cómo podrías poner en práctica las estrategias propuestas en el numeral anterior?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Comenzaría haciendo las cosas yo, y así ser el ejemplo para los demás a la hora de dar la crítica.
      </div>
    </li>
  </ul>
</div>
