<div class="container">
  <div style="position: absolute; padding-left: 60px; cursor: pointer" (click)="onBack()">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
  </div>
  <h2>Principio de Comprender a las Personas </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1" style="font-weight: 600">No.</div>
      <div class="col col-2" style="font-weight: 600">Pregunta</div>
      <div class="col col-3" style="font-weight: 600">Respuesta</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">
        1
      </div>
      <div class="col col-2" data-label="Pregunta">
        ¿Cómo enfrentas los conflictos que se te presentan?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Analizarlos y ver las posibles soluciones para cada uno de ellos.
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">2</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Cómo has modificado tu actitud luego de resolver algún conflicto?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Tomandolo con calma, respirar profundo y estar tranquilo en todo momento.
      </div>
<!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">3</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="margin: 0 10px">
          ¿Te es fácil reconocer tus errores ante quienes se oponen a tu forma de pensar? Explica tu
          respuesta
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        Sí, me es fácil aceptar cuando yo soy el que cometo los errores, acepto los comentarios que me hacen, porque al
        final esos comentarios me ayudan a ser mejor persona.
      </div>
<!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">
        4
      </div>
      <div class="col col-2" data-label="Pregunta">
        ¿Qué haces para evitar los conflictos?
      </div>
      <div class="col col-3" data-label="Respuesta">
        No le pongo atención a quienes me vienen a generar estos tipos de conflictos, solo me enfoco en
        lo que estoy haciendo en ese momento, sin que lo demás me afecte.
      </div>
<!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">5</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Qué haces pare entender a los demás?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Escucho lo que me dice, analizo en mi mente a que es lo que se estan refiriendo y es posible les ofrezco
        una posible solución.
      </div>
      <!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">6</div>
      <div class="col col-2" data-label="Pregunta">
        <p style="margin: 0 10px">
          ¿Como muestras empatía con las personas que te rodean?
        </p>
      </div>
      <div class="col col-3" data-label="Respuesta">
        Prestar atención a lo que me tiene que decir y luego darle mi apoyo en todo momento.
      </div>
<!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">7</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Qué estrategia usas para poner atención cuando te hablan de temas aburridos?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Pues trato de pensar en otra cosa si la conversación se torna aburrida, pero sin dejar de prestar atención a lo que
        me dicen.
      </div>
<!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">8</div>
      <div class="col col-2" data-label="Pregunta">
        Cuando emites un juicio equivocado, ¿cómo reparas el agravio causado?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Admito mi error en ese momento.
      </div>
<!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">9</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Cómo identificas lo realmente importante en una conversación?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Pues yo normalmente lo identifico por como la persona se expresa cuando dicen algo importante, el tono de voz
        cambia y asi sucesivamente.
      </div>
<!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="No.">10</div>
      <div class="col col-2" data-label="Pregunta">
        ¿Qué estrategias usas para hacer nuevas amistades?
      </div>
      <div class="col col-3" data-label="Respuesta">
        Respeto y amabilidad.
      </div>
<!--      <div class="col col-4" data-label="Payment Status"></div>-->
    </li>
  </ul>
</div>
