<app-navbar></app-navbar>



<app-header-votos></app-header-votos>¿

<div style="margin-bottom: 5%"></div>

<div class="container">

  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <img src="./assets/Votos/Honestidad.jpg" width="100%" alt="" />
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p style="margin-top: 50px; text-align: justify">
          La honestidad es un valor que se vincula a la verdad y a la transparencia de las personas y se
          antepone a la mentira, la falsedad y a corrupción.
        </p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <img src="./assets/Votos/Generosidad.jpg" width="100%" alt="" />
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p style="font-size: 14px; margin-top: 50px; text-align: justify">
          La generosidad es un valor y una cualidad de las personas que se caracteriza por ayudar a los
          demás de un modo honesto sin esperar obtener nada a cambio, se suele apreciar y se considera
          como un rasgo de bondad entre las personas.
        </p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <img src="./assets/Votos/Trabajo-Duro.jpg" width="100%" alt="" />
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p style="font-size: 14px; margin-top: 50px; text-align: justify">
          Es un pre-requisito para el éxito. Las personas exitosas en los negocios, deportes y
          entretenimiento han dedicado varias horas a trabajar en su obra, desarrollar sus destrezas y
          hacer lo que otros no estuvieron dispuestos a hacer para alcanzar grandes cosas.
        </p>
      </div>
    </div>
  </div>

</div>

<div style="margin-bottom: 5%"></div>

<div class="container" style="">

  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <img src="./assets/Votos/Planificación-Efectiva.jpg" width="100%" alt="" />
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p style="font-size: 14px; margin-top: 50px; text-align: justify">
          El hombre de éxito verdadero tiene una visión, se compromete con ella y propone
          metas hacia las cuales se dirige cada día de su vida.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <img src="./assets/Votos/Snetido-Comun.jpg" width="100%" alt="" />
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p style="font-size: 14px; margin-top: 50px; text-align: justify">
          Es el conocimiento que se adquiere por medio de la experiencia y a través de los sentidos, de una
          manera espontánea, dispersa, acrítica y convencional.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <img src="./assets/Votos/Dominio-Propio.jpg" width="100%" alt="" />
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p style="font-size: 14px; margin-top: 50px; text-align: justify">
          Es la capacidad que nos permite controlar a nosotros mismos, nuestras emociones y no que estas
          nos controlen a nosotros.
        </p>
      </div>
    </div>
  </div>

</div>

<div style="margin-bottom: 5%"></div>

<div class="container" style="">

  <div class="card">
    <div class="face face1">
      <div class="content">
        <div class="icon">
          <img src="./assets/Votos/Humildad.jpg" width="100%" alt="" />
        </div>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p style="font-size: 14px; margin-top: 50px; text-align: justify">
          El un concepto, una forma de vida y actuación. Es reconocer que siempre podemos aprender y
          servir al prójimo.
        </p>
      </div>
    </div>
  </div>

</div>

<div style="margin-bottom: 5%"></div>
