<app-navbar></app-navbar>


<app-header-seguimiento></app-header-seguimiento>


<div style="margin-bottom: 5%"></div>


<div class="container">
  <h2>MATRIZ DE SEGUIMIENTO</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Fecha</div>
      <div class="col col-2">Acciones</div>
      <div class="col col-3">Resultados</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        21/07/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Debo hablar más con Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Noto un cambio positivo, me he acercado más a Dios.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        30/07/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Debo hablar más con Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Por las noches eh hablado con Dios.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        02/08/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Debo hablar más con Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Por las noches eh hablado con Dios.
      </div>
    </li>


    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        16/08/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Busco más a Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Le agradezco en la mañana por un día más de vida que me ha regalado, y en la noche por cuidarme en
        el transcurso del día.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        23/08/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Busco más a Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Le agradezco en la mañana por un día más de vida que me ha regalado, y en la noche por cuidarme en
        el transcurso del día.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        30/08/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Busco más a Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Le agradezco por la oportunidad que me ha dado de seguir compartiendo momentos con todos mis seres
        querido.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        13/09/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Busco más a Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Le agradezco por cuidarme y no permitirme enfermar de este virus que ha afectado a nivel mundial.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        27/09/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Busco más a Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Le agradezco por cuidarme y no permitirme enfermar de este virus que ha afectado a nivel mundial.
      </div>
    </li>

    <li class="table-row">
      <div class="col col-1" data-label="Fecha">
        29/10/2021
      </div>
      <div class="col col-2" data-label="Acciones">
        Busco más a Dios.
      </div>
      <div class="col col-3" data-label="Resultados">
        Me alejado mucho de Dios estás últimas semanas, pero considero seguir buscándolo, le agradezco por
        todas las nuevas personas que conocí a lo largo de esté semestre, he aprendido mucho en estos meses
        y gracias a Lic. Olga, por la paciencia y la compresión en todo momento, y a Dios por siempre cuidar
        de mí lo largo de este año.
      </div>
    </li>

  </ul>
</div>
